/***********
Colors
    Dark - #21385B  rgb(33,56,91)
    Light - #446EAC  rgb(68,110,172)
***********/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

/****** Navigation bar *******/
.navbar{
    padding: 15px;
    border-bottom: none !important;
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-brand img {
    margin-top: -20px;
    width: 120px;
    height: 60px;
    filter: drop-shadow(0 0 5px #fff);
    transition: all 0.3s;
}


.navbar ul li a{
    color: white !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    background: transparent !important;
}


.navbar ul li a:hover, .navbar ul li a:focus{
    color: #446EAC !important;
    filter: drop-shadow(0 0 5px #fff);
    transition: all 0.3s;
}

.navbar .navbar-toggle{
    border: 1px solid white !important;
    color: white !important;
    transition: all 0.5s ease-in;
}

.icon-bar{
    color: white;
    background-color: white;
}

.navbar-toggle:hover{
    background-color: deepskyblue !important;
}

.navbar-inverse{
    background-color: rgba(0,0,0,0.8) !important;
}

/******** This is the Header Section *******/

#myCarousel .carousel-inner {
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

#myCarousel .carousel-control.left, .carousel-control.right{
    background: none;
}

#myCarousel .carousel-caption{
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

#myCarousel .carousel-control{
    position: absolute;
    top: 50%;
    z-index: 0;
    display: inline-block;
}

#myCarousel .carousel-control span img{
    width: 30px;
    height: 30px;
    background: #ccc;
    padding: 3px;
    color: #000;
    border: 2px solid #fff;
    border-radius: 100%;

}

#myCarousel .carousel-control span img:hover{
    background: #666666;
    transition: all 0.3s linear 0s;
    border: 2px solid #fff;
}

#myCarousel .carousel-caption h1,p, .buttons{
    position: relative;
    top: 40%;
    left: 0;
    right: 0;
    text-shadow: none;
}

#myCarousel .carousel-caption #slider-logo{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#myCarousel .carousel-caption h1{
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;
}

#myCarousel .carousel-caption p{
    font-size: 16px;
    font-weight: 100;
}

.btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 30px;
    border: 1px solid;
    background: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50px;
    text-transform: uppercase;
}

.buttons .btn {
    margin-bottom: 20px;
    margin-right: 13px;
}

.btn-color {
    background-color: transparent;
    color: white;
    margin-right: 10px;
}

.btn-color:hover {
    background: #21385B;
    color: white;
    animation: none;
    text-decoration: none;
    transition: all 0.5s;
}

.social-menu ul{
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%,-50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(100,100,100,0.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover{
    background-color: #dd4b39;
}

.social-menu ul li:nth-child(5) a:hover{
    background-color: #0077B5;
}
        


@media screen and (max-width:850px){
    
    #topBtn{
        position: fixed;
        bottom: 50px;
        right: 50px;
        font-size: 12px;
        width: 30px;
        height: 30px;
        background: #21385B;
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        cursor: pointer;
        display: none;
    }

    #topBtn:hover{
        filter: drop-shadow(0 0 5px #000);
        transition: all 0.3s;
    }
    
    #myCarousel .carousel-caption{
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        background: rgba(0,0,0,0.5);
    }

    #myCarousel .carousel-caption h1,p, .buttons{
        position: relative;
        top: 10%;
        left: 0;
        right: 0;
        text-shadow: none;
    }
    
    
    #myCarousel .carousel-caption h1{
        font-size: 32px;
        font-weight: 200;
        filter: drop-shadow(0 0 5px #000);
        transition: all 0.3s;
    }

    #myCarousel .carousel-caption p{
        font-size: 12px;
        font-weight: 100;
    }
    
    .btn{
        display: inline-block;
        font-size: 12px;
        font-weight: 100;
        padding: 5px 20px;
        border: 1px solid;
        background: white;
        cursor: pointer;
        margin-top: 12px;
        border-radius: 50px;
        text-transform: uppercase;
    }
    
    
    .btn-color {
        background-color: transparent;
        color: white;
        margin-right: 10px;
    }

    .btn-color:hover {
        background: #21385B;
        color: white;
        animation: none;
        text-decoration: none;
        transition: all 0.5s;
    }
    
    .social-menu ul{
        position: absolute;
        top: 85%;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translate(-50%,-50%);
        display: flex;
    }

    .social-menu ul li{
        list-style: none;
        margin: 0 15px;
    }

    .social-menu ul li .fab{
        font-size: 15px;
        line-height: 30px;
        transition: 0.6s;
        color: #000;
    }

    .social-menu ul li .fab:hover{
        color: #fff;
    }

    .social-menu ul li a{
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background-color: #fff;
        text-align: center;
        transition: 0.6s;
        box-shadow: 0 5px 4px rgba(100,100,100,0.5);
    }
    
    #myCarousel .carousel-caption #slider-logo{
        position: absolute;
        height: 100px;
        width: auto;
        top: 27%;
        left: 50%;
        transform: translate(-50%,-50%);
}
    
    
}

.social-menu ul{
            position: absolute;
            padding: 0;
            margin: 0;
            transform: translate(-50%,-50%;);
            display: flex;
        }


#topBtn{
    position: fixed;
    bottom: 100px;
    right: 100px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #21385B;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#topBtn:hover{
    filter: drop-shadow(0 0 5px #000);
    transition: all 0.3s;
}



/****** This is the About Section *****/

.about{
    background: #f4f4f4;
    padding-top: 80px;
    padding-bottom: 70px;
}

.about-item {
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about-item i{
    font-size: 42px;
    margin: 0;
    color: #21385B;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #535353;
}

.about-item hr{
    width: 45px;
    height: 3px;
    background-color: #446EAC;
    margin: 0 auto;
    border: none;
}

.about-item p{
    margin-top: 20px;
    color: #535353;
}

.about-item:hover{
    background-color: #21385B;
    
}

.about-item:hover i, 
.about-item:hover h3,
.about-item:hover p {
    color: white;
}

.about-item,
.about-item i,
.about-item hr {
    transition: all 400ms linear;
}

.about-item h3,
.about-item p {
    transition: all 400ms 
}


/****** Feature Section ******/

.feature{
    color: #535353;
}

.feature-text{
    padding: 50px;
    border: 1px solid #21385B;
    background: white;
    border-radius: 6px;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
}

.feature .heading-title h5 {
    text-align: center;
    font-size: 1.20rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff1737;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.feature .heading-title h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 599;
    color: #6c757d;
    line-height: 1.2;
    margin: 0 auto 1.5;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.feature p.desc {
    text-align: center;
    max-width: 950px; ;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.feature-text h4 {
    margin: 40px 0px;
}

.feature-text:hover{
    border-top: 6px solid #21385B;
    padding-top: 45px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.img-hover1 {
    background: url(images/services_boarding.png);
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.img-hover2 {
    background: url(images/services_daycare.png);
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.img-hover3 {
    background: url(images/services_medication.png);
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.img-hover4 {
    background: url(images/services_protection.png);
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
}

/******* Our Team Section *******/

#team {
    background: #f4f4f4;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #535353;
    padding-top: 50px;
    margin: auto;
}

#team .heading-title h5 {
    text-align: center;
    font-size: 1.20rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff1737;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#team .heading-title h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 599;
    color: #6c757d;
    line-height: 1.2;
    margin: 0 auto 1.5;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

#team p.desc {
    text-align: center;
    max-width: 950px; ;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}


}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
    
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    transform: translateY(-55%);
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #535353;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    transform: translateY(45%);
    transition: all 0.3s 0.2s;
    font-size: 35px;
    margin-bottom: 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #535353;
}
.team-member .s-link a {
    border: 1px solid #535353;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    border-radius: 50%;
    color: #535353;
    font-size: 16px;
    transition: all 400ms linear;
}
.team-member .s-link a:hover {
    color: #fff;
    background-color: #21385B;
    border-color: #21385B;
}

.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
    margin-bottom: 20px;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}

/***** Text Quote ******/

.text-quote {
    background-image: url(images/quote-parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.text-quote .overlay-bg {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5));
}

.sec-padding{
    padding: 150px 0;
    color: white;
    font-size: 17px;
}

.text-quote .word{
    color: #446EAC;
    font-size: 17px;
    
}

/****** Gallery Section ******/

.works{
    color: #535353;
    background: #f4f4f4;
}

.works .heading-title h5 {
    text-align: center;
    font-size: 1.20rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff1737;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.works .heading-title h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 599;
    color: #6c757d;
    line-height: 1.2;
    margin: 0 auto 1.5;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.works p.desc {
    text-align: center;
    max-width: 950px; ;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.works .filtering .filter {
    display: inline-block;
    padding: 20px 15px;
    border-radius: 30px;
    box-shadow: 0px 5px rgba(0,0,0,0.1);
}

.works .filtering span{
    margin: 0 5px;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.works .filtering .active{
    background-color: #21385B;
    color: white;
}

.works .item-img{
    position: relative;
    margin-top: 30px;
}

.works .item-img img{
    border: 5px solid rgba(0,0,0,0.3);
}

.works .item-img:hover .item-img-overlay{
    visibility: visible;
    opacity: 1;
}

.works .item-img-overlay{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    padding: 30px;
    background: rgba(255,255,255,0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.works .item-img-overlay .icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #21385B;
    text-align: center;
    font-size: 20px;
    color: #21385B;
}

.works .item-img-overlay p{
    font-weight: bold;
    font-size: 16px;
}

.works .item-img-overlay h6{
    font-weight: 400;
    font-size: 13px;
    margin-top: 5px;
}

/***** Timeline Section *****/

.timeline{
    color: #535353;
}

.timeline .heading-title h5 {
    text-align: center;
    font-size: 1.20rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff1737;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.timeline .heading-title h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 599;
    color: #6c757d;
    line-height: 1.2;
    margin: 0 auto 1.5;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.timeline p.desc {
    text-align: center;
    max-width: 950px; ;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.main-timeline{
    margin: 20px 0;
    position: relative;
}
.main-timeline:before{
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #21385B;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.main-timeline .timeline{
    margin-bottom: 40px;
    position: relative;
}
.main-timeline .timeline:after{
    content: "";
    display: block;
    clear: both;
}
.main-timeline .icon{
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.main-timeline .icon:before,
.main-timeline .icon:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s;
}
.main-timeline .icon:before{
    background: #fff;
    border: 2px solid #446EAC;
    left: -3px;
}
.main-timeline .icon:after{
    border: 2px solid #21385B;
    left: 3px;
}
.main-timeline .timeline:hover .icon:before{
    left: 3px;
}
.main-timeline .timeline:hover .icon:after{
    left: -3px;
}
.main-timeline .date-content{
    width: 50%;
    float: left;
    position: relative;
}
.main-timeline .date-content:before{
    content: "";
    width: 32.5%;
    height: 2px;
    background: #21385B;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}
.main-timeline .date-outer{
    width: 175px;
    height: 175px;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: auto;
    z-index: 1;
}
.main-timeline .date-outer:before,
.main-timeline .date-outer:after{
    content: "";
    width: 175px;
    height: 175px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
}
.main-timeline .date-outer:before{
    background: #fff;
    border: 2px solid #446EAC;
    left: -6px;
}
.main-timeline .date-outer:after{
    border: 2px solid #21385B;
    left: 6px;
}
.main-timeline .timeline:hover .date-outer:before{
    left: 6px;
}
.main-timeline .timeline:hover .date-outer:after{
    left: -6px;
}
.main-timeline .date{
    width: 100%;
    margin: auto;
    position: absolute;
    top: 33%;
    left: 0;
}
.main-timeline .month{
    font-size: 18px;
    font-weight: 700;
    color: #21385B;
}
.main-timeline .year{
    display: block;
    font-size: 36px;
    font-weight: 700;
    color: #21385B;
    line-height: 36px;
}
.main-timeline .timeline-content{
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
}
.main-timeline .title{
    font-size: 19px;
    font-weight: 700;
    color: #21385B;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}
.main-timeline .description{
    font-size: 14px;
    color: #535353;
    margin-bottom: 0;
}
.main-timeline .timeline:nth-child(2n) .date-content{
    float: right;
}
.main-timeline .timeline:nth-child(2n) .date-content:before{
    left: 10px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{
    padding: 20px 50px 20px 0;
    text-align: right;
}
@media only screen and (max-width: 990px){
    .main-timeline .date-content:before{
        width: 22.5%;
    }
    .main-timeline .timeline-content{
        padding: 10px 0 10px 30px;
    }
    .main-timeline .title{ font-size: 17px; }
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        padding: 10px 30px 10px 0;
    }
}
@media only screen and (max-width: 767px){
    .main-timeline:before{
        margin: 0;
        left: 7px;
    }
    .main-timeline .timeline{
        margin-bottom: 20px;
    }
    .main-timeline .icon{
        margin: auto 0;
    }
    .main-timeline .date-content{
        width: 95%;
        float: right;
    }
    .main-timeline .date-content:before{
        display: none;
    }
    .main-timeline .date-outer,
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after{
        width: 130px;
        height: 130px;
    }
    .main-timeline .date{
        top: 30%;
    }
    .main-timeline .year{
        font-size: 26px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        width: 95%;
        text-align: center;
        padding: 10px 0;
    }
    .main-timeline .title{
        margin-bottom: 10px;
    }
}

/******* Recent Blog Post Area ********/

.latest-news-area{
    margin-top: 40px;
    background: #f4f4f4;
}

.latest-news-area .heading-title h5 {
    text-align: center;
    font-size: 1.20rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff1737;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.latest-news-area .heading-title h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 599;
    color: #6c757d;
    line-height: 1.2;
    margin: 0 auto 1.5;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.latest-news-area p.desc {
    text-align: center;
    max-width: 950px; ;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.latest-news-area .latest-news-wrap{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
}

.latest-news-area .news-img{
    position: relative
}

.latest-news-area .news-img:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s;
}

.latest-news-area .latest-news-wrap:hover .news-img:before{
    opacity: 0.5;
    transform: scale(1);
}

.latest-news-area .deat{
    background: #446EAC none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    padding: 10px;
}

.latest-news-area .deat span{
    display: block;
    color: white;
    font-weight: 300;
    font-size: 16px;
}

.latest-news-area .news-content {
    padding: 20px;
    margin-left: 3px;
}

.latest-news-area .news-content i{
    font-size: 18px;
    display: inline-block;
}

.latest-news-area .news-content .fab{
    padding: 10px 10px;
    cursor: pointer;
}

.latest-news-area .news-content p{
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 20px;
}

/****** Footer Section *******/
.footer{
    background-color: #1c1c1d;
    margin-top: -5px;
    padding-top: 50px;
    border-top: 5px solid rgba(0,0,0,0.1);
}

.contact-left h3,
.contact-right h3{
    color: white !important;
    font-size: 24px;
    font-weight: 400;
}

.contact-left p{
    color: white;
    margin-bottom: 30px;
}

.contact-info{
    background-image: url(images/world-map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

address{
    color: white;
}

address strong{
    font-size: 16px;
    letter-spacing: 1px;
}

.phone-fax-email strong{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 100;
}

form .form-control{
    background: transparent;
    border-radius: 0;
    border-color: white;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: white;
}

.footer-bottom{
    background-color: rgba(0,0,0,0.1);
    padding: 30px 0;
    margin-top: 60px;
}

#footer-copyrights p{
    margin: 0;
    color: white;
}

#footer-menu{
    float: left;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li{
    display: inline-block;
}

#footer-menu a{
    color: white;
    font-synthesis: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover{
    color: #446EAC;
    filter: drop-shadow(0 0 5px #fff);
    transition: all 0.3s;
}

ul.social-list{
    display: flex;
    color: white;
    list-style: none;
    
}

ul.social-list a{
    margin-right: 20px;
    color: white;
    text-align: center;
    border: 1px solid #535353;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    border-radius: 50%;
}

ul.social-list a:hover{
    border-color: #446EAC;
    color: #446EAC;
    transition: all 0.3s;
}

.btn-white{
    background: transparent;
    color: white;
    border: 1px solid white;
}

.btn-white:hover{
    border-color: #446EAC;
    background: #446EAC;
    color: white;
    transition: all 0.3s;
}





 






































